# Hide generated lua code
src/*.lua
*.lua

# Hide downloaded mental engine
mental

node_modules
/dist
/coverage
/test/transpile/module-resolution/**/dist
/test/transpile/module-resolution/**/tsconfig.tsbuildinfo

yarn.lock
.vscode
.idea
.DS_Store

benchmark/data/*
benchmark/dist/*

# v8 cpu profiles
*-.log
*.cpuprofile

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
